@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
   
    <link rel="stylesheet" href="~/css/styles.css">

<!-- Centered Welcome Container -->
<div class="center-container">
    <div class="welcome-container">
        <div class="text-center">
            <h1 class="welcome-heading">Welcome</h1>
            <p class="welcome-message">This is a Web Application  developed with asp.net core mvc that allows you to Add, Search, Update and Delete student records</p>
        </div>
    </div>
</div>
</head>

</html>